@import 'tailwindcss';

@theme inline {
  --grid-layout: auto 1fr auto;
  --color-darken: #2b2b2b;
  --color-dark: #4a4a48;
  --color-brand: #fe5314;
  --color-background: #fafafc;

  --color-primary-50: #fff4ed;
  --color-primary-100: #ffe7d4;
  --color-primary-200: #ffcba8;
  --color-primary-300: #ffa671;
  --color-primary-400: #ff7638;
  --color-primary-500: #fe5314;
  --color-primary-600: #ef3507;
  --color-primary-700: #c62408;
  --color-primary-800: #9d1f0f;
  --color-primary-900: #7e1d10;
  --color-primary-950: #440a06;
}

@layer base {
  a {
    transition: all 0.2s ease-in-out;
  }

  .heading {
    font-family: var(--font-rubik);
  }
}

body {
  background: var(--color-background);
  color: var(--color-slate-600);
  font-family: var(--font-inter);
}
